button {
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button-default {
  background-color: beige;
  color: black;
}

.button-primary {
  background-color: lightseagreen;
  color: white;
}