button {
  padding: 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

button:active {
  background-color: #eee;
}

.button-primary {
  background-color: #5bf;
}

.button-group-btn {
  background-color: #ddd;
}

.button-group-btn.selected {
  background-color: #2fa;
}